$highlight_color: rgb(235, 27, 87);
$bg_white_color: #f5f5f5;
$bg_main_color: rgb(56, 206, 196);
$border_text_color: rgb(0, 152, 144);
$active_month_color: /* rgb(183, 183, 183) */ rgb(83, 83, 83);

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
