@import '../variables.scss';
.selectMonthContainer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: $border_text_color;
  font-weight: bold;
  font-size: 1.2rem;
  .button {
    color: $highlight_color;
    width: 20%;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 5px $highlight_color;
      transform: scale(1.5, 1.5);
      transition: all 200ms;
    }
  }
}
