@import '../Calendar/variables.scss';
.currentDay {
  background-color: $bg_main_color;
  text-align: center;
  color: $bg_white_color;
  text-transform: uppercase;
  padding: 5%;
  & > * {
    position: relative;
  }

  div:first-child {
    height: 10%;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
  div:last-child {
    height: 90%;
    font-size: 11rem;
    &:hover {
      text-shadow: 0 0 20px $border_text_color;
      transition: all 0.5s ease-in-out;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
}
