@import '../Calendar/variables.scss';

td,
th {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  font-size: 1.2rem;
}

td {
  color: active_month_color;
  &.weekEnd {
    color: $highlight_color;
  }
  &.inactive {
    color: rgb(168, 168, 168);
  }
  &.today {
    font-weight: bold;
    box-shadow: 0 0 0 2px $highlight_color;
    transform: scale(1.15, 1.15);
    color: $highlight_color;
  }
}
